h1 {
    font-size: 40px;
    margin-bottom: 10vh;
    color: blue;
}

.vehiculos-contenedor{
    width: 1000px;
    margin-left: 17%;
    padding: 50px;
    display: flex;
    border-radius: 2px;
    border: 2px solid black;
   
}
.vehiculos-imagen{
    height:20% ;
    width: 20%;
    border-radius: 80%;
}

.contenedor-texto-vehiculos{
    text-align: center;
    font-family: fantasy;
    font-weight: 600;
    line-height: 1rem;
    background-color: burlywood;
}

.especificacion-vehiculos{
    font-size: 1rem;
    color: blue;
}

.resena-vehiculos{
    font-size: 1rem;
    text-align: left;
    color: red;
}